.green{
 color: rgb(237, 237, 237);
 background-color: green;
 width: 50%;
 margin: auto;
 padding: 20px 0px;
 margin-top: 10px;
}
.red{
 color: rgb(255, 10, 10);
 /* background-color: rgb(255, 19, 19); */
 width: 50%;
 margin: auto;
 padding: 20px 0px;
 margin-top: 10px;
}