
.header{
background-color: rgb(108, 105, 145);
}
.flex{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin:0px 5vw;
 color: white;

}
.flex a{
 text-decoration: none;
 margin: 0px 15px;
 color: white;
 font-weight: 700;
}